@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body{
    overflow-x: hidden;
}

.paralax{
    position:absolute;
    height: 100%;
}

.paralax-item{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;    
}

.p-item1{
    background: url("bg_2.jpg") center/cover no-repeat;
}

.p-item3{
    background: url("hiker4.png") bottom/100% no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;

}

.container{
    position: relative;
    z-index: 1;
    max-width: 1140px;
    margin:0 auto;
    margin-top: 100vh;

}
.content-header{
    font-family: sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-right: -20%;
    
}

.content-header h1{
    font-size: 120px;
    font-weight: 600;
    color: white;
    margin-bottom: -40px;

}

.content-header h2{
    font-size: 40px;
    font-weight: 500;
    color: white;
}

.content{
    margin-left:100px;
    margin-right:100px;
    width: 100%;
    height: 900px;
    margin-right: 40px;
    background-color:none;
    color:white;
    position:center;
    font-family: 'Source Sans Pro', sans-serif;

}
.content ul{
    list-style:none;

}

.row{
   
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.categories{
    display:flex;

}
.footer-col ul li a{
   color:white;
   font-size:20px;
 
}

.glitch {
    position: relative;
    font-family: sans-serif;
    font-size: 7em;
    text-transform: uppercase;
    text-shadow: 6px -6px 0px #AC7088;
    background: repeating-linear-gradient(45deg, #005792, #005792 1px, #fff 2px, #fff 3px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #360072;
    color: #AC7088;
    clip: rect(0, 900px, 0, 0);
    overflow: hidden;
}
.glitch::before {
    left: 7px;
    text-shadow: 1px 0 ;
    animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
    left: 3px;
    text-shadow: -1px 0 #AC7088;
    animation: glitch-effect 2s infinite linear alternate-reverse;
}
@keyframes glitch-effect {
    0% {
        clip: rect(94px, 9999px, 81px, 0);
   }
    5% {
        clip: rect(10px, 9999px, 72px, 0);
   }
    10% {
        clip: rect(82px, 9999px, 61px, 0);
   }
    15% {
        clip: rect(29px, 9999px, 27px, 0);
   }
    20% {
        clip: rect(69px, 9999px, 91px, 0);
   }
    25% {
        clip: rect(36px, 9999px, 3px, 0);
   }
    30% {
        clip: rect(9px, 9999px, 83px, 0);
   }
    35% {
        clip: rect(4px, 9999px, 27px, 0);
   }
    40% {
        clip: rect(41px, 9999px, 18px, 0);
   }
    45% {
        clip: rect(35px, 9999px, 73px, 0);
   }
    50% {
        clip: rect(8px, 9999px, 71px, 0);
   }
    55% {
        clip: rect(31px, 9999px, 18px, 0);
   }
    60% {
        clip: rect(98px, 9999px, 60px, 0);
   }
    65% {
        clip: rect(52px, 9999px, 46px, 0);
   }
    70% {
        clip: rect(95px, 9999px, 86px, 0);
   }
    75% {
        clip: rect(66px, 9999px, 89px, 0);
   }
    80% {
        clip: rect(68px, 9999px, 97px, 0);
   }
    85% {
        clip: rect(10px, 9999px, 19px, 0);
   }
    90% {
        clip: rect(74px, 9999px, 12px, 0);
   }
    95% {
        clip: rect(61px, 9999px, 24px, 0);
   }
    100% {
        clip: rect(80px, 9999px, 12px, 0);
   }
}


 